@import "tailwindcss";

:root {
    --accent: #0077ff;
}

html {
    text-transform: lowercase;
}

body {
    font-feature-settings: "liga" 0, "calt" 0;
}

td,
td *,
caption,
table span,
table div {
    text-transform: none !important;
}
